<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NewsScraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item active">
                <button id="scraper" type="button" class="btn btn-dark">SCRAPE NEW ARTICLES</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
        <h1 class="display-4">News Scraper!</h1>
        <p class="lead">From NBC Bay Area. Bring you the lastest news.</p>

    </div>
    <main>
        <h1 id="saved-articles-section">Saved Articles</h1>
        <div id="saved-section">
            {{#each saved}}
            <div class="media my-2">
                <img src="{{this.image}}" class="align-self-center mr-3" alt="..." style="width: 200px;">
                <div class="media-body">
                    <a href="{{this.link}}" target="_blank">
                        <h5 class="mt-0">{{this.title}}</h5>
                    </a>
                    <p>{{this.summary}}.</p>

                    <button data-id={{this._id}} class="delete-article" style="padding: 3px 6px; float:right;">Delete
                        from Saved</button>
                    <button data-id={{this._id}} class="note-comment"
                        style="padding: 3px 6px; float:right; margin-right:.5%">Article Notes</button>
                </div>

            </div>

            {{/each}}
        </div>


    </main>
</div>